@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,500);

html {
  background: url(/images/misc/background-small-compressed.jpg) no-repeat center center fixed;
  background-size: cover;
}

/* fix for carousel touch issues */
ul[rn-carousel] > li > img { -webkit-user-drag: none; }

body {
  color: #444;
  font-family: 'Roboto', sans-serif;
}

.margin-small {
  margin: 10px;
}

.back-shadow {
  box-shadow: 5px 5px 25px 22px rgba(0, 0, 0, 0.4);
}

.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  position:absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.row {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
}

.infoBox {
  background-color: rgba(255,255,255,0.95);
  border: 1px solid rgba(239,239,239,1.0);
  padding: 20px;
  max-width: 663px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.infoRight {
  margin-left: 10px;
}

.content {
  max-width: 303px;
}

.contentFlex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: top;
  -webkit-align-items: top;
      -ms-flex-align: top;
          align-items: top;
  padding: 10px;
}

.sideHeader {
  max-width: 170px;
}

.largeScreen {
  display: initial;
}

.mediumScreen {
  display: none;
}

.flagLogo {
  max-width: 120px;
}

.background {
  width: 100%;
}

.slide-show-container {

}


.ka-carousel-frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-show {
  margin: auto;
}


/* Large */
.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255,255,255,0.75);
  border-bottom: 1px solid rgba(239,239,239,1.0);
  z-index: 1000;
}

.logo {
  width: 320px;
  margin: 20px;
}

/* carousel ul */
.image {
  height: 400px;
  width: 600px;
  background-color: white;
}

.ka-carousel-images {
  width: auto;
  max-width: 600px;
  height: auto;
  max-height: 400px;
}

.sideImage {
  width: 450px;
}

/* Medium screens */
@media all and (max-width: 800px) {
  /*.logo-container {
    justify-content: flex-start;
  }*/

  .largeScreen {
    display: none;
  }

  .mediumScreen {
    display: block;
  }

  .flagLogo {
    max-width: 75px;
  }

  .logo {
    width: 200px;
  }

}

/* Small screens */
@media all and (max-width: 500px) {
  /*.logo-container {
    justify-content: flex-start;
  }*/

  .image {
    width: 300px;
    height: 200px;
  }

  .ka-carousel-images {
    max-width: 300px;
    max-height: 200px;
  }

  .back-shadow {
    box-shadow: none;
  }
}


.background {
  width: 100%;
}
